# Don't track content of these folders
code/__pycache__/
notebooks/.ipynb_checkpoints/
inferring_mp_venv2/
# data/brains
data/estimates
data/recordings
results
scripts/oldscripts
notebooks/Analysis
notebooks/Experiments
notebooks/Example-results
figures
notebooks/Old-notebooks

# But include these example data files
!data/brains/Ns_5_noiseseed_0.pt
!data/brains/Ns_5_noiseseed_0_params.pkl
!data/estimates/Ns_5_noiseseed_0_0_0.pkl
